/*
Corellium API

REST API to manage your virtual devices.

API version: 7.0.0-25053
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package corellium

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// DomainApiService DomainApi service
type DomainApiService service

type DomainApiV1CheckSubdomainExistenceRequest struct {
	ctx context.Context
	ApiService *DomainApiService
	v1CheckSubdomainExistenceParameters *V1CheckSubdomainExistenceParameters
}

// application/json
func (r DomainApiV1CheckSubdomainExistenceRequest) V1CheckSubdomainExistenceParameters(v1CheckSubdomainExistenceParameters V1CheckSubdomainExistenceParameters) DomainApiV1CheckSubdomainExistenceRequest {
	r.v1CheckSubdomainExistenceParameters = &v1CheckSubdomainExistenceParameters
	return r
}

func (r DomainApiV1CheckSubdomainExistenceRequest) Execute() (*CheckSubdomainResponse, *http.Response, error) {
	return r.ApiService.V1CheckSubdomainExistenceExecute(r)
}

/*
V1CheckSubdomainExistence Check the existence of a subdomain

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DomainApiV1CheckSubdomainExistenceRequest
*/
func (a *DomainApiService) V1CheckSubdomainExistence(ctx context.Context) DomainApiV1CheckSubdomainExistenceRequest {
	return DomainApiV1CheckSubdomainExistenceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CheckSubdomainResponse
func (a *DomainApiService) V1CheckSubdomainExistenceExecute(r DomainApiV1CheckSubdomainExistenceRequest) (*CheckSubdomainResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CheckSubdomainResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DomainApiService.V1CheckSubdomainExistence")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/domain/check"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.v1CheckSubdomainExistenceParameters == nil {
		return localVarReturnValue, nil, reportError("v1CheckSubdomainExistenceParameters is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.v1CheckSubdomainExistenceParameters
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
